<h2>All my bookings</h2>

<% @current_user %>

<% @bookings.each do |booking| %>
  <h3><%= link_to booking.motorcycle.name, motorcycle_booking_path(booking.motorcycle, booking) %></h3>
  <h4><%= "from " + booking.start_date.to_s %></h4>
  <h4><%= "to " + booking.end_date.to_s %></h4>
  <br>
<% end %>



