<div class="banner">
	<div class="banner-content">
	  <video width="1310" src="https://res.cloudinary.com/cris7cris/video/upload/v1541085970/iRideNairobi/Header_small_copy.mp4" type="video/mp4" autoplay loop>
      </video>
      <div class="overlay">
        <h1 class="banner-title">iRideNairobi</h1>
        <h4>Book your motorcycle in Nairobi</h4>
      </div>
    </div>
</div>

<div class=home-text>
	<div class=service>
		<h4>LESSONS</h4>
		<p>"We provide motorcycle lessons to assure you know how to ride safely at $10/hour."</p>
	</div>
	<div class=service>
	    <h4>TRIAL RIDES</h4>
		<p>"We offer trial rides to see whether you are comfortable taking a motorcycle around the city."</p>
	</div>
	<div class=service>
	    <h4>RENTAL FLEXIBILITY</h4>
		<p>"We give you maximum flexibility in regards to rental duration and payment options."</p>
	</div>
	<div class=service>
	    <h4>TRAVEL ADVICE</h4>
		<p>"We provide advice on which streets to avoid and which destinations are a must see"</p>
	</div>

</div>

