
// .row {
// 	display: flex;
// 	justify-content: space-between;
// }

.card {
  height: 250px;
  background-size: cover !important;
  margin: 5px;
  background-position: center;
  color: #CFA775;
  position: relative;
  border-radius: 5px;
}


.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}


.card-description {
  font-family: 'Raleway', sans-serif;
  background-color: #303030;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  border-radius: 5px;
}
.card-description h4 {
  font-size: 24px;
  color: #CFA775;
  text-decoration: none;
}

.card-category a {
  font-size: 24px;
  color: #CFA775;
  text-decoration: none;
  background-color: #303030;
  padding: 5px;
}

.card-category a:hover {
  font-size: 24px;
  color: white;
  text-decoration: none;
  background-color: #303030;
  border-radius: 5px;
}


.card-description p {
  font-size: 14px;
  color: white;
}

.card-description p a {
  font-size: 14px;
  color: white;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
}

