<div class="review-form">
	<div class="review-form-content">
      <h1>New Review</h1>
         <%= simple_form_for [@booking.motorcycle, @booking, @review] do |f| %>
         <%= f.input :content, label: 'Content'%>
         <%= f.input :stars, collection: 1..5, prompt: "Rate your experience", selected: 4 %>
       <br>
          <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

