<h1>New Review</h1>

<%= simple_form_for [@booking.motorcycle, @booking, @review] do |f| %>
  <%= f.input :content, label: 'Content' %>
  <%= f.input :stars, label: 'Stars' %>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>